*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(140deg,  #FFFEED, #B6D3DB);
    padding: 10px;
}
.tracker{
    width: 50vw;
    /* max-width: 540px; */
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 50px 70px 10px;
    border-radius: 10px; 
}
.tracker h2{
    color:  #8ED7AB;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.tracker h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    width: 100%;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #93B9E0;
    color: fff;
    cursor: pointer;
    border-radius: 40px;
}

ul {

    margin-top: 2rem;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/alive.png);
    background-size: cover;
    background-position: center;
    top: 6px;
    bottom: 12px;
    left: 10px;
}
ul li.dead{
    color: #555;
    text-decoration: line-through;
}
ul li.dead::before{
    background-image: url(images/skull.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 34px;
    height: 34px;
    font-size: 22px;
    color: #555;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
.dragging {
    opacity: 0.3;
    color: #555;
}
#side-panel {
    top: 185px;
    background: transparent;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: flex-end; /* Center horizontally */
    padding: 10px 10px;
}

#side-panel button {
    margin: 8px;
    font-size: 25px; /* This size seems appropriate for visibility */
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    line-height: 30px; /* Helps to center the text vertically */
    text-align: center; /* Center the text horizontally */
    background-color: transparent; /* Or any color you prefer */
    border: none;
    padding: 10px 10px;
    border-radius: 50%; /* Circular buttons */
    cursor: pointer;
    display: flex; /* Enable flexbox for button content */
    justify-content: center; /* Center content horizontally in flex container */
}

#side-panel button:hover {
    background-color: #e3f1ff; /* Slight highlight on hover */
}

.highlight {
    /* Example styles for the highlight class */
    background-color: #bae3bed0; /* Yellow background for highlighting */
    border-radius: 10px; /* Optional outline to make it stand out */
}